.inputfield-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5vw;
  
}

.input-field{
    width: 30vw;
    height: 3vw;
    border-radius: 1rem;
    font-size: 1.2vw;
    transition: transform .12s ease-in;
}

.input-field:hover {
    transform: scale(1.03);
    box-shadow: lightgray 2px 2px;
}